* {
    box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
    --background-color:hsl(200, 50%, 98%);
    --secondary-color: hsl(225,85%,57%);
    --spacing-regular:1rem;
    --text-color:hsl(240deg 95% 8%);
    --shadow-color: hsl(225 10% 83%);
    --shadow-color-dark: hsl(225 10% 63%);

    --font-size-small: 0.5rem;
    --font-size-regular: 1rem;
    --font-size-large: 1.5rem;
    --font-size-xl: 2rem;
    --intro-color:hsl(261, 8%, 40%);

    --shadow-color: hsl(225 10% 83%);
    --shadow-color-dark: hsl(225 10% 63%);

}
body{
    margin: 0;
    font-family:"Trirong", serif;;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size-large);
}
.header{
    padding: 16px;
    position : sticky;
    top : 0;
    border: 1px solid;
    background: var(--background-color);
    z-index:1;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.header span{
    
    float:right;
    cursor: pointer;
    font-family: "Sofia", sans-serif;
    
}

nav a {
    text-decoration: none;
    color:inherit;
    font-size: var(--font-size-regular);
}

header nav > a{
    margin-right: 16px;
    
}

header nav > a:last-child{
    margin-right: revert;
    
}
nav >a:hover,
nav a:visited:hover{
    
    text-decoration: underline;
    color:var(--secondary-color);
}
nav a:visited{
    
    color: inherit;
}
 
footer{
    padding: 16px;
    text-align: center;
    border-top: 4px solid;
    background-color: rgb(185, 245, 245);
}
.container{
    padding: 16px;
}
section{
    scroll-margin-top: calc(100px - (2 * var(--spacing-regular)));
}
.container > section > h2{
    text-align: center;
}
.intro{
    margin: -16px;
    padding: 16px;
   /* background-color:var(--intro-color); */
   background-image: url("bk.jpg");
    color: white;
    text-align: center;
    background-repeat:no-repeat;
    background-size: cover;
    
}
.intro img{
    height: 400px;
    width: 320px;
}
.social img{
    height: 40px;
    width: 40px;
}
.social a{
    text-decoration: none;
    margin: auto 16px;
} 

.aboutimg img{
    height: 300px;
    width : 300px;
}
#about-me
{
    display: flex;
    margin: 20px ;
}

table,
tr,
td,
th{
    border: 1px solid;
    border-collapse: collapse;

}
th,td{
    padding: 8px;

}

#resume .res a 
{
    height: 150px;
    width: 250px;
    background-color: aqua;
    border-radius: 10px;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    border: 2px solid blue;
    box-shadow: 5px 9px 5px rgb(65, 65, 186);
}



form#contact {
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 1px solid;
    border-radius: 16px;

}
#contact label{
    display:block;
    font-weight: 600;
    font-size: var(--font-size-regular);
}

#contact input,
#contact textarea,
#contact button{
    width:100%;
    font-size: 1.2rem;
    padding: 8px;
}
#contact-me {
    margin-top:20px;
}

#projects .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:var(--spacing-regular);
    justify-content: center;
    justify-items: center;
    
    
    
}
.card header h1{
    margin:0;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items :center;
    border: 1px solid white;
    padding: var(--spacing-regular);
    box-shadow: 3px 3px 6px 5px  var(--shadow-color);
    width :100%;
    border-radius: var(--spacing-regular);
    transition:transform 0.4s ease-in, box-shadow 0.4s ease-in-out;
    background-color: rgb(179, 247, 247);
}
.card:hover {
    box-shadow: 3px 3px 8px 9px var(--shadow-color-dark);
    transform:translateY(calc(-1 * var(--spacing-small)));
}
.card  ul {
    list-style: none;
    padding: 0;
    

}
.scontainer {
    width: 100%; 
    background-color: #ddd; 
    border-radius:50px ;
  }
  
  .skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white; 
  }
  
  .html {width: 90%; background-color: #04AA6D;} 
  .css {width: 80%; background-color: #2196F3;} 
  .js {width: 65%; background-color: #f07b9e;} 
  .c {width: 80%; background-color: #808080;} 



@media(width<=400px){
    #profile-image{
        width : 100%
    }
}
